body
{
    background-color: rgb(236, 4, 113);
}
h1{
    font-size:40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.logo
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 4em

}

button {
    margin-top: 60px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background-color: fuchsia;
    border: none;
    border-radius: 15px;
  }
  button:hover {
    background: fuchsia;
  }

h2{
    font-size:40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 200px

   
}
