body
{
    background-color: rgb(236, 4, 113);
    text-align: center;
}
h1{
    font-size:40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.logo
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 9em

}

button {
 width: 100%;
    border:solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 9em;
  }
  button:hover {
    background: fuchsia;
  }
  }
  button:hover {
    background: fuchsia;
  }

h2{
    font-size:40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 200px

   
}
